@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
header{
	background-size: cover;
	background-position: center;
	background-image: url("banner.png");
}

nav{
	background-color: transparent;
}
a{
	font-size: 1.2rem;
}
i{
	color: green;
	font-size: 3rem;
}
.intro{
	display: flex;
}
.img1{
	background-image: url("about.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px solid brown;
	width: 50%;
}
.link{
	width: 50%;
	border: 0px solid mistyrose;
	padding: 50px;
	padding-top: 130px;
}
.header1{
	display: flex;
	height: 600px;
	width: 100%;
	border: 0px solid red;
	font-size: 1.3rem;
}
.intro div{
	width: 50%;
	padding: 25px;
	border: 0px solid red;
}

footer{
	width: 100%;
	height: 430px;
	border: 2px solid brown;
}
.intro div div{
	width: 100%;
	border: 0px solid green;
}
div p{
	font-size: 16.6px;
}
.header2{
	display: flex;
	height: 430px;
}
footer{
	font-family: 'Poppins', sans-serif;
	color: white;
	margin-top: 90px;
	width: 100%;
	height: 470px;
	font-size: 1.3rem;
	padding: 50px;
	border: 0px solid green;
	background-color: #ffc845;
}
#rapid{
	display: flex;
	justify-content: space-between;
}
.section1 ul:before{
	font-family: 'Poppins', sans-serif;
	content: "section";
	font-weight: "bold";
	text-transform: uppercase;
	font-size: 2rem;
	border: 0px solid brown;
}
.section2 ul:before{
	content: "section";
	font-family: 'Poppins', sans-serif;
	font-weight: "bold";
	text-transform: uppercase;
	font-size: 2rem;
	border: 0px solid green;
}
.section3 ul:before{
	content: "section";
	font-weight: "bold";
	text-transform: uppercase;
	font-size: 2rem;
	border: 2px solid red;
}
.ascomp{
	width: 100%;
}
.ascomp div{
	width: 50%;
	text-align: center;
}

ul li{
	list-style: none;
	text-transform: uppercase;
}
.chef,.card3,.card2{
	padding: 70px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.card2,.card3{
	width: 420px;
	margin: 20px;
}

.card2{
	background-size: cover;
	background-position: center;
	background-image: url("team1.jpg");
}
.card3{
	background-size: cover;
	background-position: center;
	background-image: url("team2.jpg");
}
.img{
	background-image: url("bannerimg.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 30rem;
	width: 352px;
	border: 0px solid orange;
}

.header4{
	width: 100%;
	height: 600px;
	border: 0px solid green;
	padding: 20px;
	background-color: #e6ffe6;
}
 .value{
 	display: flex;
  width: 100%;
  height: 600px;
  padding: 24px;
  border: 0px solid black;
}
.stage{
	width: 40%;
	  border: 0px solid blue;
	  height: 550px;
}
.stage div a{
	border-radius: 30px;
}
.video{
	margin-left: 120px;
	width: 50%;
	border-radius: 40px;
	border: 0px solid green;
	  height: 550px;
	  background-image: url("images.jpg");
	  background-position: center;
	  background-size: cover;
	  background-repeat: no-repeat;
	  display: flex;
	  justify-content: center;
	  justify-items: center;
	  align-items: center;
}
.header5{
	height: 710px;
	width: 100%;
	border: 0px solid green;
}

.video  a i{
	font-size: 190px;
	color: white;
	border-radius: 100%;
	padding: 0;
	transition: all 500ms linear;
}
.video  a i:hover{
	font-size: 210px;
}
 .hear{
    	border:0px solid red; 
    	height: 600px;
    }
.robo{
	display:  flex;
}
@media(max-width: 990px){
	.intro{
		display: unset;
		height: 1440px;
	}
    .img{
    	width: 100%;
    	background-size: contain;
    	background-position: center;
    	background-repeat: no-repeat;
    	height: 550px;
    }
    .header5{
    	height: 1700px;
    }
.grow{
	width: 100%;
}
.stage{
	width: 100%;
}
.hear{
	height: 1590px;
}
.video{
	width: 100%;
	margin-left: 0px;
}
.header4{
	height: 1200px;
}
.robo{
	display: unset;
}
    .header2{
    	display: unset;
    	font-size: 3rem;
    }
    .card2,.card3{
    	width: 90%;
    	height: 440px;
    }
    nav{
    	background-color: white;
    }
    .header1{
    	display: unset;
    }
    .link ,.img1{
	border: 0px solid blue;
	width: 100%;
}
.value{
	display: unset;
	height: 1000px;
}
.img1{
	height: 450px;
	width: 100%;
}
.intro div{
	width: 100%;
}
}
@media(max-width: 720px){
	html{
		font-size: 12px;
	}
	.header4{
	  width:100%;
	}
	input{
		width:80%
	}
	#rapid{
		display: unset;
	}
	footer{
		font-size: 20px;
		padding: 100px;
		height: 800px;
		width:100%;
	}
}
